@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Commissioner:wght@100;300;400;500;600;700;800&display=swap');

*,
::before
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0%;
    font-family: 'Caveat', cursive;
    font-family: 'Commissioner', sans-serif;

    background: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url("../img/bg.jpg");
    height: 100%;
    width: 100%;


}
body {
    background-size: cover;
    align-items: center;
}
h1, h2, h3 {
    margin: 0;
}
img {
    height: 100%;
    width: 100%;
}
.links_icons {
    text-decoration: none;
    color: white;

    font-size: 1.3em;
    font-weight: 600;

    transition: all 0.3s;

    padding: 0.3em;
    margin: 2px 0;
}
.links_icons:hover {
    color:rgb(0, 190, 149);
}
.links {
    text-decoration: none;
    color: white;

    font-size: 1.3em;
    font-weight: 600;

    transition: all 0.3s;

    padding: 0.3em;
    margin: 2px 0;

    border-bottom: 2px solid rgba(0, 190, 149, 0);
}
.links:hover {
    color:rgb(0, 190, 149);
    border-bottom: 2px solid white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    padding: 0 3rem;
}
.header_logo_img {
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;

    color: white;
}
.header_links {
    display: flex;
    justify-content: space-around;

    width: 30vw;
}

.wrapper_main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
}
.main_container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax( 290px, 1fr ));
    grid-gap: 20px;
    justify-content: space-between;

    color: white;

    max-width: 1230px;
    width: 100%;

    margin: 0 auto;
    padding: 0 3rem;
}
.main_container_info {
    display: grid;
    align-items: center;
}
.main_container_info_text {
    color: white;
    padding: 0;
}
.main_container_info_text_title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.main_container_info_text_subtitle {
    font-size: 32px;
    font-weight: 400;
}
.main_container_info_text_description {
}
.main_container_info_text_links {
    font-size: 1.5em;
}
.main_container_info_button {
    border: 2px solid rgb(0, 190, 149);
    border-radius: 25px;
    background: none;
    color: white;

    font-weight: 600;
    font-size: 1.5rem;

    padding: 10px 2.5rem;

    margin-top: 1rem;

    transition: all 0.3s;
}
.main_container_info_button:hover {
    cursor: pointer;
    background-color: rgba(0, 190, 149, 0.178);
}
.hero_box{
    max-width: 500px;
    justify-self: center;
    overflow: hidden;

    border: 10px solid whitesmoke;
    box-shadow: 2px 5px 10px black;

    animation: hero_box-animation 15s infinite alternate;
}

@keyframes hero_box-animation {
    0% {
        border-radius: 84% 16% 74% 26% / 16% 60% 40% 84%;
    }
    40% {
        border-radius: 12% 88% 15% 85% / 84% 17% 83% 16%;
    }
    60% {
        border-radius: 76% 24% 58% 42% / 14% 82% 18% 86%;
    }
    100% {
        border-radius: 9% 91% 8% 92% / 86% 13% 87% 14%;
    }
}

.wrapper_slider {
    background-color:rgb(10, 10, 10);

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_container {
    max-width: 1280px;
}
/* Собственно сам слайдер */
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 60vh;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
